<%- include("partials/header.ejs")%>
    <main>
        <section class="destaque">
            <img src="<%= mostViews[0].image%>" alt="">
            <div class="content">
                <div class="container01">
                    <div class="autor">
                        <img src="../../public/img/FOTO.png" alt="Perfil"><p>nome do autor</p>
                    </div>
                    <i class="fa-solid fa-heart"></i>
                </div>
                <div class="container02">
                    <h2><%= mostViews[0].title%></h2>
                    <p><%= (mostViews[0].content).substr(0, 250)%></p>
                    <div class="navegate">
                        <div class="case-item"><div class="item"></div></div>
                        <div class="case-item"><div class="item"></div></div>
                        <div class="case-item"><div class="item"></div></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="ultimas-publicacoes">
            <h2>Últimas publicações</h2>
            <div class="content">
                <div class="container01">
                    <div class="box01">
                        <img src="<%= posts[3].image%>" alt="Surfistas">
                        <div class="text">
                            <h4><%= mostViews[2].title%></h4>
                            <p><%= mostViews[2].content%></p>
                        </div>
                    </div>
                    <div class="box02">
                        <div class="autor">
                            <img src="../../public/img/News_Logo.svg" alt="Foto de perfil do autor">
                            <span>por the new york times</span>
                        </div>
                        <div class="materia">
                            <p>A Amazônia é habitada e cultivada há séculos. Mas, à medida que a mudança climática perturba o equilíbrio natural do planeta e o desenvolvimento da região continua em um ritmo acelerado das décadas recentes, é mais importante do que nunca proteger o lugar com maior biodiversidade na Terra. </p>
                            <p>A taxa de desmatamento nas últimas décadas tem sido extraordinária. Este mapa mostra onde a floresta natural foi substituída por fazendas, minas ou outros desenvolvimentos ou degradada em áreas arenosas e secas de 2000 a 2018.</p>
                        </div>
                        <a href="#">LER MAIS</a>
                    </div>
                    <div class="categorias">
                        <div class="cat cat01">
                            <div class="content">
                                <h4>Arquitetura</h4>
                                <p>Veja as obras premiadas do famoso arquiteto Oscar Niemeyer que estão em exposição no Museu da Arquitetura Moderna em Milão.</p>
                            </div>
                        </div>
                        <div class="cat cat02">
                            <div class="content">
                                <h4>Natureza</h4>
                                <p>Veja como os lagos congelados ficam ano após ano nesse incrível time lapse gravado durante 45 anos em uma expedição à Antartica.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <%- include("partials/mais-lidas.ejs")%>
            </div>
        </section>
    </main>

<%- include("partials/footer.ejs")%>
