<%- include("partials/header.ejs")%>
<main>
    <div class="new-single">        
        <div class="container-new">
            <div class="content-new">
                <h2><%= notice.title%></h2>
                <div class="autor">
                    <img src="../../public/img/FOTO.png" alt="Perfil"><p>guilherme grilo</p>
                </div>
                <p><%= notice.content%></p>
            </div>
            <%- include("partials/mais-lidas.ejs")%>
        </div>
    </div>
</main>
<%- include("partials/footer.ejs")%>