<%- include("partials/header.ejs")%>
<main>
    <div class="new-single">        
        <div class="container-new">
            <div class="content-new">
                <h2><%= notice.title%></h2>
                <div class="autor">
                    <img src="../../public/img/FOTO.png" alt="Perfil"><p>guilherme grilo</p>
                </div>
                <p><%= notice.content%></p>
            </div>
            <div class="mais-lidas">
                <h3>As mais lidas</h3>
                <div class="container">
                    <%counter = 0%>
                    <%for(let item of posts){%>
                        <div class="new">
                            <div class="image">
                                <img src="<%= item.image%>" alt="Fotografia da natureza">
                            </div>
                            <div class="content">
                                <h4><%= item.title%></h4>
                                <p><%= item.content.substr(0, 50) + "..."%></p>
                                <a href="<%= item.slug%>">ler mais</a>
                            </div>
                        </div>
                        <%++counter%>
                        <%if(counter > 3) break%>
                    <%}%>
                </div>               
            </div>
        </div>
    </div>
</main>
<%- include("partials/footer.ejs")%>